<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      {{!-- <link rel="stylesheet" href="css/responsive.css" /> --}}
    <link rel="stylesheet" href="./css/clg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College</title>
    <meta name="robots" content= "index, follow">
    <link rel="icon" type="image/svg-xml" href="./img/favicn.png" />
</head>
<style>
    .nav{
        display: none;
    }
 @media screen and (max-width: 1050px){
        .nav {
        right: 0%;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        /* border-radius: 40px; */
        box-shadow: 0 0 3px #00000033;
        background-color: #fff;
        border-top: 1px gray;
        /* background: linear-gradient(to right, #ffffff,#dadada,#e0e1e3,#ffffff ); */
        display: flex;
        text-decoration: none;
        overflow-x: auto;
        z-index: 5;
    }
    
    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 500!important;
        color: #444444;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }
    
    .nav__link:hover {
        background-color: #282627;
        color: #ffffff;
    }
    
    .nav__link--active {
        color: #ff8400;
    }
    
    .nav__icon {
        font-size: 18px;
    }

    .navbar_fixed{
        background: linear-gradient(to right, #FFFFFF, #f3efef)!important;
      }
       .courses-container {
          padding-bottom: 50px;

      }
   }
</style>
<body>
    <div class="wrapper">

  <nav class="nav">
       <a href="/" class="nav__link">
              <i class="fas fa-home"></i>
              <span class="nav__text">Home</span>
            </a>
            <a href="/jumptoothercolleges" class="nav__link">
              <i class="fas fa-graduation-cap"></i>
              <span class="nav__text">Jump</span>
            </a>
           
            <a href="/findfriends" class="nav__link nav__link--active">
              <i class="fas fa-user-friends"></i>
              <span class="nav__text">Friends</span>
            </a>
            <a href="#" class="nav__link">
              <i class="far fa-bookmark"></i>
              <span class="nav__text">Books</span>
            </a>
            <a href="/profile" class="nav__link">
              <i class="fas fa-cog"></i>
              <span class="nav__text">Settings</span>
            </a>
          </nav>
        <div class="profile-card js-profile-card">
         <div class="profile-card__img">
          <img src="./img/{{image}}" alt="profile" style="width: 150px; height: 150px;">
         </div>
      
         <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name">You are in {{college}} </div>
          {{!-- <div class="profile-card__txt"> Meerut,<strong> CCSU</strong></div> --}}
          <div class="profile-card-loc">
           <span class="profile-card-loc__icon"><i class="fas fa-map-marker-alt"></i>
           </span>
      
           <span class="profile-card-loc__txt">
            Meerut, UP
           </span>
           <button onclick="jumpback()" class="but">Jump Out</button>
          </div>
         </div>
        </div>
       </div>
       <div class="courses-container">
        {{#each colleges}}
            <div class="course">
                <div class="course-preview">
                    <img src="./img/{{this.image}}" alt="profile">
                    {{!-- <a href="#">Meerut College Meerut</a> --}}
                </div>
                <div class="course-info">
                    <h2>{{this.college}}</h2>
                    <button onclick="jumpToOtherCollege('{{this.college}}','{{this.image}}')" class="btn">JUMP</button>
                </div>
            </div>
        {{/each}}
         {{!-- <div class="course">
            <div class="course-preview">
                <img src="./img/dn.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>DN COllege </h2>
                <button class="btn" onclick="jumpToOtherCollege('d. n. degree college meerut')" >JUMP</button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview">
                <img src="./img/nas.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            
            <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>NAS College</h2>
                <button class="btn">JUMP</button>
            </div>
        </div>
        <div class="course">
            <div class="course-preview">
                <img src="./img/shubharti.jpg" alt="profile" style="width: 200px; border-radius: 50%; margin-right: 100px;">
                <a href="#">Meerut College Meerut</a>
            </div>
            
            
           
        </div>
    </div>  --}}
    <!-- jump college script -->
     {{!-- <div class="course-info">
               
                <h6>CCSU</h6>
                <h2>Meerut college meerut</h2>
                <button class="btn" onclick="jumpToOtherCollege('meerut college meerut');">JUMP</button>
            </div> --}}
    <script>
        const jumpToOtherCollege =  (collegeName,image) => {
            document.cookie = `college=${collegeName.toLowerCase()}`;
            document.cookie = `image=${image.toLowerCase()}`;
            document.location.href = "https://www.clgvibe.com/jump";
        }
        const jumpback =  () => {
            document.cookie = 'college=; Path=/; Expires= new Date(Date.now());';
            document.cookie = 'image=; Path=/; Expires= new Date(Date.now());';
            document.location.href = "https://www.clgvibe.com/";
        }

    </script>
</body>
</html>